page-about-us {

    .version{
        border-radius:0px;
        background-color: color($colors, header, base);
        text-transform: none; 
        margin:0px;
        opacity: 1 !important;
    }
}
